@charset "UTF-8";
/*......................................................
                    Trabuco-Design
                 author: Trabuco-Design
            © 2020 Todos los Derechos Reservados.
........................................................*/
/*.....................................................
            Color / Fuentes Tipografica
......................................................*/
@font-face { font-family: 'cocogoosedemibold'; src: url("../font/cocogoose_pro_semilight-trial-webfont.eot"); src: url("../font/cocogoose_pro_semilight-trial-webfont.eot?#iefix") format("embedded-opentype"), url("../font/cocogoose_pro_semilight-trial-webfont.woff") format("woff"), url("../font/cocogoose_pro_semilight-trial-webfont.ttf") format("truetype"), url("../font/cocogoose_pro_semilight-trial-webfont.svg#cocogoosedemibold") format("svg"); font-weight: normal; font-style: normal; }

/*.....................................................
            Estilos Basicos / Tipografia
......................................................*/
body { font-size: 16px; font-weight: normal; outline: none; }

.wrapper { -webkit-transition: .3s ease all; transition: .3s ease all; }

p { font-size: 1.0625em; /*17px*/ font-weight: 500; font-family: "Roboto", Arial, sans-serif; }

h2 { text-align: center; color: #656363; font-size: 1.5625em; /*25px*/ font-family: 'cocogoosedemibold'; margin: 0; }

h3 { color: #000; font-family: 'cocogoosedemibold'; }

h4 { color: #fff; font-size: 1em; font-weight: normal; font-family: 'cocogoosedemibold'; }

hr { display: block; background: #ff8b6c; border: none; width: 4rem; /*64px*/ height: 2px; }

a { text-decoration: none; font-family: 'cocogoosedemibold'; }

li { list-style: none; }

.servicios p { color: #777777; }

#footer p, #footer span { color: #a7a2a2; font-weight: normal; font-size: 0.875em; /*14px*/ font-family: "Roboto", Arial, sans-serif; }

#portafolio p { color: #000; font-size: 1.0625em; /*17px*/ font-weight: 500; font-family: "Roboto", Arial, sans-serif; }

.container { width: 80%; margin: 0 auto; }

.grid-conten { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[12]; grid-template-columns: repeat(12, 1fr); gap: 10px; overflow: hidden; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

/*.....................................................
                        Hero
......................................................*/
.hero { width: 100%; max-width: 100%; height: 100vh; background: url("../img/background.jpg") fixed no-repeat; background-size: cover; background-position: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: space-evenly; align-content: space-evenly; -ms-flex-wrap: wrap; flex-wrap: wrap; /*..............Menu...............*/ /*.............Logo.............*/ /*...........Dark Mode...........*/ }

.hero .menu { background: #000; position: fixed; width: 100%; height: 100%; text-align: center; top: 0; z-index: 20; -webkit-transition: .7s ease all; transition: .7s ease all; -webkit-clip-path: circle(82px at 100% -12px); clip-path: circle(82px at 100% -12px); display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.hero .menu .btn-abrir-menu { width: 100%; height: 5%; font-size: 1.5625em; /*25px*/ padding: 0.75rem 1rem; /*12px - 16px*/ text-align: right; }

.hero .menu .btn-abrir-menu #burger-menu { display: inline-block; width: 27px; height: 27px; cursor: pointer; overflow: hidden; position: relative; }

.hero .menu .btn-abrir-menu #burger-menu span, .hero .menu .btn-abrir-menu #burger-menu span:before, .hero .menu .btn-abrir-menu #burger-menu span:after { background: white; display: block; height: 4px; position: absolute; -webkit-transition: all 300ms ease; transition: all 300ms ease; }

.hero .menu .btn-abrir-menu #burger-menu span:before, .hero .menu .btn-abrir-menu #burger-menu span:after { content: ""; }

.hero .menu .btn-abrir-menu #burger-menu span { right: 0px; top: 13px; width: 27px; }

.hero .menu .btn-abrir-menu #burger-menu span:before { left: 0px; top: -10px; width: 16px; }

.hero .menu .btn-abrir-menu #burger-menu span:after { left: 0px; top: 10px; width: 20px; }

.hero .menu .btn-abrir-menu #burger-menu:hover span, .hero .menu .btn-abrir-menu #burger-menu:hover span:before, .hero .menu .btn-abrir-menu #burger-menu:hover span:after { background: #ff8b6c; }

.hero .menu .btn-abrir-menu #burger-menu.close span { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: 13px; width: 27px; }

.hero .menu .btn-abrir-menu #burger-menu.close span:before { top: 0px; -webkit-transform: rotate(90deg); transform: rotate(90deg); width: 27px; }

.hero .menu .btn-abrir-menu #burger-menu.close span:after { top: 0px; left: 0px; -webkit-transform: rotate(90deg); transform: rotate(90deg); width: 27px; opacity: 0; }

.hero .menu .enlc-menu { width: 100%; }

.hero .menu .enlc-menu li { list-style: none; margin-bottom: 4%; }

.hero .menu .enlc-menu li a { font-size: 2em; /*32px*/ color: rgba(199, 198, 198, 0.75); margin: 0px; padding: 0px; -webkit-transition: all 300ms ease; transition: all 300ms ease; }

.hero .menu .enlc-menu li a:hover { color: #fff; letter-spacing: 3px; }

.hero .menu.active { -webkit-clip-path: circle(200% at 99.4% -12px); clip-path: circle(200% at 99.4% -12px); background: rgba(0, 0, 0, 0.8); }

.hero .menu.active li { -webkit-animation: desplazamiento 1s ease; animation: desplazamiento 1s ease; }

.hero .img-logo { width: 34%; height: auto; padding: 1rem; /*16px*/ margin: 0; -webkit-transition: .4s ease all; transition: .4s ease all; -webkit-animation: entradaLogo .8s ease .8s forwards; animation: entradaLogo .8s ease .8s forwards; opacity: 1; }

.hero .img-logo .logo { max-width: 100%; }

.hero .dark-mode { width: 100%; height: auto; margin: 0; text-align: center; }

.hero .dark-mode .switch { background: #24292d; border-radius: 1000px; border: none; position: relative; cursor: pointer; outline: none; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.59); box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.59); }

.hero .dark-mode .switch::after { content: ""; display: block; width: 2rem; /*32px*/ height: 2rem; /*32px*/ position: absolute; background: #f1f1f1; top: 0px; left: 0px; right: unset; border-radius: 100px; -webkit-transition: .3s ease all; transition: .3s ease all; -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }

.hero .dark-mode .switch span { width: 1.625rem; /*26px*/ height: 1.875rem; /*30px*/ line-height: 1.875rem; /*30px*/ display: block; background: none; color: #fff; }

/*.....................................................
                        Servicios
......................................................*/
.servicios { width: 100%; height: auto; padding-top: 2rem; /*32px*/ padding-bottom: 1.125rem; /*18px*/ -webkit-transition: .3s ease all; transition: .3s ease all; }

.servicios .items { grid-column: 1/-1; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 100%; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.servicios .items .title { width: 100%; height: auto; margin-top: 0px; margin-bottom: 2rem; /*32px*/ }

.servicios .items .item { width: 30%; height: auto; padding: 0px 16px; /*6px*/ -ms-flex-item-align: baseline; align-self: baseline; text-align: center; margin-bottom: 1.875rem; /*30px*/ opacity: 0; -webkit-transition: .5s ease all; transition: .5s ease all; background: rgba(243, 241, 241, 0.6); border-radius: 14px; -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15); -webkit-box-sizing: border-box; box-sizing: border-box; }

.servicios .items .item h3 { margin: 0.5rem 0px; /*8px*/ font-size: 0.9375em; /*15px*/ font-weight: normal; }

.servicios .items .item p { text-align: center; font-size: 1em; /*16px*/ line-height: 1.6em; font-weight: 500; }

.servicios .items .scroll-animado { -webkit-animation: scrollRight 1s; animation: scrollRight 1s; }

/*.....................................................
                        Banner
......................................................*/
.banner { display: block; width: 100%; max-width: 100%; height: 480px; background: url("../img/banner.jpg") no-repeat; background-size: cover; background-position: center; }

/*.....................................................
                        Portafolio
......................................................*/
.portafolio { display: block; width: 100%; height: auto; padding-top: 2rem; /*32px*/ padding-bottom: 1.5rem; /*24px*/ -webkit-transition: .3s ease all; transition: .3s ease all; /*............Tabs..........*/ }

.portafolio .wrap-tabs { position: relative; width: 100%; height: auto; margin-top: 2rem; /*32px*/ margin-bottom: 0.625rem; /*10px*/ /*............Btn Tabs..........*/ /*............Tabs panel..........*/ }

.portafolio .wrap-tabs .tabs { margin: 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; width: 100%; height: auto; position: relative; padding-top: 2px; }

.portafolio .wrap-tabs .tabs-item { font-family: "Montserrat", Arial, sans-serif; font-weight: 600; color: #fff; border-radius: 6px 0px 0px 0px; line-height: 2.5; padding: 0 1.5rem; /*24px*/ text-align: center; background: #ff8b6c; -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%); clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%); cursor: pointer; width: 20%; height: auto; }

.portafolio .wrap-tabs .tabs-item.active { background: #f3f1f1; line-height: 2.5; padding: 0 1rem; /*16px*/ color: #000; z-index: 10; border-top: 2px solid rgba(154, 154, 154, 0.19); border-left: 3px solid rgba(154, 154, 154, 0.19); border-bottom: none; border-right: none; }

.portafolio .wrap-tabs .panels { position: relative; background: #f3f1f1; width: 100%; height: auto; padding: 0.625rem 0px; /*10px*/ -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15); }

.portafolio .wrap-tabs .panels-item { position: absolute; width: 100%; height: auto; top: 0px; left: -5000px; grid-column: 1/-1; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; /*.......galeria efecto hover.......*/ /*.......galeria efecto hover Fin.......*/ }

.portafolio .wrap-tabs .panels-item .conten-img { width: 40%; height: auto; border-radius: 0px 12px 12px 0px; overflow: hidden; }

.portafolio .wrap-tabs .panels-item .conten-img .gallery-conten { width: 100%; max-width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; overflow: hidden; cursor: pointer; -webkit-transition: .3s ease all; transition: .3s ease all; }

.portafolio .wrap-tabs .panels-item .conten-img .gallery-conten .gallery-img { width: 100%; max-width: 100%; -o-object-fit: cover; object-fit: cover; display: block; -webkit-transition: .3s ease all; transition: .3s ease all; }

.portafolio .wrap-tabs .panels-item .conten-img .gallery-conten .far { position: absolute; font-size: 3.75em; /*60px*/ font-weight: 500; color: #fff; z-index: -1; -webkit-transition: .3s ease all; transition: .3s ease all; }

.portafolio .wrap-tabs .panels-item .conten-img .gallery-conten:hover { background: #000; }

.portafolio .wrap-tabs .panels-item .conten-img .gallery-conten:hover .gallery-img { -webkit-transform: scale(1.2); transform: scale(1.2); -webkit-filter: blur(1px); filter: blur(1px); opacity: .4; }

.portafolio .wrap-tabs .panels-item .conten-img .gallery-conten:hover .far { z-index: 1; }

.portafolio .wrap-tabs .panels-item .conten-text { width: 52%; height: auto; padding: 0px 1.75rem; /*28px*/ }

.portafolio .wrap-tabs .panels-item .conten-text .icon-log { margin-bottom: 0.75rem; /*12px*/ }

.portafolio .wrap-tabs .panels-item .conten-text .icon-log ul { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0; margin: 0; }

.portafolio .wrap-tabs .panels-item .conten-text .icon-log ul li:nth-child(2) { margin: 0px 1.5rem; /*24px*/ }

.portafolio .wrap-tabs .panels-item .conten-text .icon-log [class^="fa"] { font-size: 5em; /*80px*/ color: #ff8b6c; }

.portafolio .wrap-tabs .panels-item .conten-text .icon-log .logo-identidad { display: block; background: url("../img/portafolio/identidad-logo.png") no-repeat; background-size: 100% 100%; width: 110px; height: 100px; }

.portafolio .wrap-tabs .panels-item .conten-text .titulo-descripcion h3 { font-size: 1.75em; /*28px*/ font-weight: 500; margin-bottom: 0.5rem; /*8px*/ }

.portafolio .wrap-tabs .panels-item .conten-text .titulo-descripcion p { font-size: 1.0625em; /*17px*/ text-align: justify; font-weight: 500; }

.portafolio .wrap-tabs .panels-item.active { position: relative; left: 0px; }

.portafolio .wrap-tabs .panels .modal { position: fixed; display: block; top: 0px; width: 100%; height: 100%; z-index: 1000; overflow: hidden; background: rgba(0, 0, 0, 0.9); }

/*.....................................................
                    Efecto Lightbox
......................................................*/
.lightbox-overlay { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 30; display: -webkit-box; display: -ms-flexbox; display: flex; }

.lightbox-overlay .lightbox-conatiner { position: relative; width: 54%; max-width: 60%; margin: auto; padding: 1rem; /*16px*/ }

.lightbox-overlay .lightbox-conatiner .close-modal { font-size: 1.125rem; /*18px*/ font-weight: 500; color: #000; background: #fff; width: 1.875rem; /*30px*/ height: 1.875rem; /*30px*/ line-height: 1.8em; text-align: center; border-radius: 50%; cursor: pointer; top: 4px; right: 4px; position: absolute; }

.lightbox-overlay .lightbox-conatiner .lightbox-img { width: 100%; height: 100%; border-radius: 1rem; /*16px*/ margin-bottom: 0px; }

.lightbox-overlay .lightbox-conatiner .lightbox-description { text-align: center; font-size: 1.2em; font-weight: 500; color: #fff; font-family: "Montserrat", Arial, sans-serif; }

.lightbox-overlay .lightbox-conatiner .lightbox-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 1rem; font-size: 0.8em; color: #fff; font-family: "Montserrat", Arial, sans-serif; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.lightbox-overlay .lightbox-conatiner .lightbox-nav .nav-button { color: #ff8b6c; font-size: 1.375rem; /*22px*/ text-decoration: none; }

/*.....................................................
                        Footer
......................................................*/
.footer { width: 100%; height: auto; padding: 1.875rem 0px; /*30px*/ background: #24292d; border-top: 5px solid #ff8b6c; }

.footer .items { grid-column: 1/-1; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 100%; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.footer .items .item { width: 50%; overflow: hidden; }

.footer .items .item .title { letter-spacing: 1px; margin-bottom: 1rem; /*16px*/ }

.footer .items .item .title h4 { margin-bottom: 0px; margin-top: 0px; }

.footer .items .item .title hr { display: inline-block; width: 2.5rem; /*40px*/ text-align: left; }

.footer .items .item p { margin-bottom: 0.875rem; /*14px*/ }

.footer .items .item .social-networks { display: -webkit-box; display: -ms-flexbox; display: flex; list-style: none; }

.footer .items .item .social-networks li { margin-right: 0.875rem; /*14px*/ }

.footer .items .item .social-networks li a { color: #858e94; font-size: 1.875em; /*30px*/ -webkit-transition: .3s ease all; transition: .3s ease all; }

.footer .items .item .social-networks li a:hover { color: rgba(255, 255, 255, 0.72); }

.footer .items .item span { display: block; }

.footer .items .item span [class^="fa"] { color: #fff; margin-right: 0.5rem; /*8px*/ }

.footer .items .item span:nth-child(3) { margin-bottom: 0.375rem; /*6px*/ }

.footer .items .item span:nth-child(3) [class^="fa"] { margin-right: 10px; margin-left: 3px; }

.footer .items .item .copyright { color: #a7a2a2; display: block; margin-top: 1rem; font-family: 'Roboto', sans-serif; font-size: 0.6875em; /*11px*/ }

/*.....................................................
                      Dark Mode
......................................................*/
#switch.activo { color: #000; background: #ffa500; }

#switch.activo::after { right: 0; left: unset; }

#switch.activo span { color: #000; }

#wrapper.activo { background: #222222; }

#wrapper.activo h2, #wrapper.activo p { color: rgba(255, 255, 255, 0.72); }

#wrapper.activo h3 { color: #fff; }

#wrapper.activo .servicios .item { background: rgba(47, 47, 47, 0.9); }

#wrapper.activo .panels { background: #2f2f2f; }

#wrapper.activo .tabs-item.active { background: #2f2f2f; color: rgba(255, 255, 255, 0.72); border-top: 2px solid rgba(0, 0, 0, 0.46); border-left: 3px solid rgba(0, 0, 0, 0.46); }

#wrapper.activo .gallery-conten .far { color: #000; }

#wrapper.activo .gallery-conten:hover { background: #ff8b6c; }

/*.....................................................
                      Keyframe
......................................................*/
@-webkit-keyframes desplazamiento { from { -webkit-transform: translateY(1000px); transform: translateY(1000px); }
  to { -webkit-transform: translateY(0px); transform: translateY(0px); } }
@keyframes desplazamiento { from { -webkit-transform: translateY(1000px); transform: translateY(1000px); }
  to { -webkit-transform: translateY(0px); transform: translateY(0px); } }

@-webkit-keyframes entradaLogo { from { -webkit-transform: scale(0.2); transform: scale(0.2);
    opacity: 0; }
  to { -webkit-transform: scale(1); transform: scale(1);
    opacity: 1; } }

@keyframes entradaLogo { from { -webkit-transform: scale(0.2); transform: scale(0.2);
    opacity: 0; }
  to { -webkit-transform: scale(1); transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes scrollRight { from { -webkit-transform: translateX(60px); transform: translateX(60px); }
  to { -webkit-transform: translateX(0px); transform: translateX(0px); } }

@keyframes scrollRight { from { -webkit-transform: translateX(60px); transform: translateX(60px); }
  to { -webkit-transform: translateX(0px); transform: translateX(0px); } }

/*.....................................................
                    Media Queries
......................................................*/
@media (max-width: 1280px) { .container { width: 92%; } }

@media (max-width: 992px) { .hero .img-logo { width: 38%; }
  .servicios .items .item { width: 42%; }
  .portafolio .wrap-tabs .panels-item .conten-img { width: 43%; }
  .portafolio .wrap-tabs .panels-item .conten-text { width: 50%; }
  .portafolio .wrap-tabs .tabs-item { padding: 0 1rem; } }

@media (max-width: 768px) { .hero .img-logo { width: 44%; }
  .servicios .items .item { width: 42%; }
  .banner { height: 400px; }
  .portafolio .wrap-tabs .tabs { padding: 6px 0px; }
  .portafolio .wrap-tabs .tabs-item { -webkit-clip-path: none; clip-path: none; border-radius: 6px; background: none; color: #000; margin: 5px 0px; width: 40%; }
  .portafolio .wrap-tabs .tabs-item.active { border: none; color: #fff; background: #ff8b6c; -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15); }
  .portafolio .wrap-tabs .panels-item .conten-img { width: 100%; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; border-radius: 0; margin-bottom: 10px; }
  .portafolio .wrap-tabs .panels-item .conten-img .gallery-conten { width: 50%; }
  .portafolio .wrap-tabs .panels-item .conten-text { width: 100%; }
  .portafolio .wrap-tabs .panels-item .conten-text .icon-log ul, .portafolio .wrap-tabs .panels-item .conten-text .icon-log, .portafolio .wrap-tabs .panels-item .conten-text .icon-log .logo-identidad { text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 auto; padding: 6px 0px; }
  .portafolio .wrap-tabs .panels-item .conten-text .titulo-descripcion h3, .portafolio .wrap-tabs .panels-item .conten-text .titulo-descripcion p { text-align: center; }
  .lightbox-overlay .lightbox-conatiner { width: 75%; max-width: 80%; }
  .footer .items .item { width: 100%; text-align: center; }
  .footer .items .item:nth-child(1) { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .footer .items .item .social-networks { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 0; } }

@media (max-width: 600px) { .hero .menu { -webkit-clip-path: circle(76px at 100% -12px); clip-path: circle(76px at 100% -12px); }
  .hero .img-logo { width: 60%; }
  .servicios .items .item { width: 85%; }
  .servicios .items .item p { text-align: center; }
  .banner { height: 300px; } }

@media (max-width: 425px) { .hero .img-logo { width: 78%; }
  .hero .menu .enlc-menu li { margin-bottom: 12%; }
  .portafolio .wrap-tabs .panels-item .conten-img { display: block; }
  .portafolio .wrap-tabs .panels-item .conten-img .gallery-conten { width: 100%; }
  .banner { background: url("../img/banner-movil.jpg") no-repeat; background-position: center; background-size: cover; height: 420px; }
  .lightbox-overlay .lightbox-conatiner { width: 90%; max-width: 100%; } }
/*# sourceMappingURL=style.css.map */